In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# I - Consolidations of datasets

In [2]:
patients = [103001, 111001, 113001, 124001]

df_ml_conso = pd.read_csv('../../datasets/2_dataset_creation_3s/df_ml_{}_norm.csv'.format(patients[0]))
df_ml_conso['patient'] = patients[0]

for patient in patients[1:]:
    df_temp = pd.read_csv('../../datasets/2_dataset_creation_3s/df_ml_{}_norm.csv'.format(patient))
    df_temp['patient'] = patient
    df_ml_conso = pd.concat([df_ml_conso,df_temp], axis=0)

display(df_ml_conso.head())

print('\nPatient count by classification:')
display(pd.pivot_table(df_ml_conso, values=['classif'], index='patient',aggfunc='count'))

print('\nPatient average by classification:')
display(pd.pivot_table(df_ml_conso, values=['classif', 'classif_avg'], index='patient',aggfunc=np.mean))

,timestamp_start,timestamp_end,qSQI_score,cSQI_score,sSQI_score,kSQI_score,pSQI_score,basSQI_score,classif,classif_avg,patient
0,28800001,28803000,0.67,0.71,3.11,11.66,0.52,0.97,1,1.0,103001
1,28803001,28806000,0.86,0.61,3.71,15.86,0.53,0.96,1,1.0,103001
2,28806001,28809000,0.67,0.48,3.16,12.78,0.52,0.97,1,1.0,103001
3,28809001,28812000,0.80,0.82,3.13,11.77,0.50,0.94,1,1.0,103001
4,28812001,28815000,1.00,0.68,3.32,13.10,0.50,0.97,1,1.0,103001

Patient count by classification:

         classif
patient
103001       800
111001     30214
113001      1200
124001      1600

Patient average by classification:

          classif  classif_avg
patient
103001   0.553750     0.723393
111001   0.348779     0.419462
113001   0.527500     0.661356
124001   0.113750     0.286912

# II - Appying threshold of quality

In [3]:
# Setting a threshold : proportion of optimal by observation
classif_threshold = 0.95

df_ml_conso['classif_threshold'] = df_ml_conso['classif_avg'].apply(lambda x: 1 if x >= classif_threshold else 0)

print('\nPatient count:')
display(pd.pivot_table(df_ml_conso, values=['classif'], index='patient',aggfunc='count'))

print('\nPatient average by classification:')
display(pd.pivot_table(df_ml_conso, values=['classif', 'classif_avg', 'classif_threshold'], index='patient',aggfunc=np.mean))

Patient count:

         classif
patient
103001       800
111001     30214
113001      1200
124001      1600

Patient average by classification:

          classif  classif_avg  classif_threshold
patient
103001   0.553750     0.723393           0.560000
111001   0.348779     0.419462           0.353379
113001   0.527500     0.661356           0.535000
124001   0.113750     0.286912           0.125625

# III - Creation of a validation dataset

In [4]:
df_ml_conso_for_model, df_ml_conso_validation = train_test_split(df_ml_conso, test_size=0.2, random_state=42)

In [5]:
df_ml_conso_validation = df_ml_conso_for_model.drop(['patient', 'classif', 'classif_avg'], axis=1)
df_ml_conso_validation.rename(columns={df_ml_conso_validation.columns[-1]: "classification"}, inplace=True)

for element in  [df_ml_conso, df_ml_conso_for_model, df_ml_conso_validation]:
    display(element.head())
    print('Shape : {}'.format(element.shape))

df_ml_conso_validation.to_csv('../../datasets/3_ml_patients_consolidation/df_ml_conso_validation_norm_3s.csv', index=False)

,timestamp_start,timestamp_end,qSQI_score,cSQI_score,sSQI_score,kSQI_score,pSQI_score,basSQI_score,classif,classif_avg,patient,classif_threshold
0,28800001,28803000,0.67,0.71,3.11,11.66,0.52,0.97,1,1.0,103001,1
1,28803001,28806000,0.86,0.61,3.71,15.86,0.53,0.96,1,1.0,103001,1
2,28806001,28809000,0.67,0.48,3.16,12.78,0.52,0.97,1,1.0,103001,1
3,28809001,28812000,0.80,0.82,3.13,11.77,0.50,0.94,1,1.0,103001,1
4,28812001,28815000,1.00,0.68,3.32,13.10,0.50,0.97,1,1.0,103001,1

Shape : (33814, 12)

,timestamp_start,timestamp_end,qSQI_score,cSQI_score,sSQI_score,kSQI_score,pSQI_score,basSQI_score,classif,classif_avg,patient,classif_threshold
15805,47416472,47419471,1.00,0.84,0.51,-0.65,0.55,0.48,0,0.0,111001,0
9587,28761638,28764638,0.33,0.61,-0.25,-1.73,0.50,0.49,0,0.0,111001,0
23768,71306119,71309118,0.67,1.27,5.33,36.67,0.49,0.91,1,1.0,111001,1
6672,20016299,20019298,0.22,0.63,0.96,3.78,0.56,0.90,0,0.0,111001,0
7929,23787377,23790376,0.33,0.52,-2.55,6.28,0.53,0.73,0,0.0,111001,0

Shape : (27051, 12)

,timestamp_start,timestamp_end,qSQI_score,cSQI_score,sSQI_score,kSQI_score,pSQI_score,basSQI_score,classification
15805,47416472,47419471,1.00,0.84,0.51,-0.65,0.55,0.48,0
9587,28761638,28764638,0.33,0.61,-0.25,-1.73,0.50,0.49,0
23768,71306119,71309118,0.67,1.27,5.33,36.67,0.49,0.91,1
6672,20016299,20019298,0.22,0.63,0.96,3.78,0.56,0.90,0
7929,23787377,23790376,0.33,0.52,-2.55,6.28,0.53,0.73,0

Shape : (27051, 9)

# IV - Equalisation of repartition by patient

In [6]:
df_ml_conso_balanced = pd.DataFrame()

for patient in patients:
    df_class1 = df_ml_conso_for_model[(df_ml_conso_for_model['patient'] == patient) & (df_ml_conso_for_model['classif_threshold'] ==1)]
    df_class0 = df_ml_conso_for_model[(df_ml_conso_for_model['patient'] == patient) & (df_ml_conso_for_model['classif_threshold'] ==0)]

    if df_class1.shape[0] >= df_class0.shape[0]:
        df_ml_conso_balanced = pd.concat([df_ml_conso_balanced,
                              df_class0,
                              df_class1.sample(df_class0.shape[0])]
                            )
    else:
        df_ml_conso_balanced = pd.concat([df_ml_conso_balanced,
                        df_class0.sample(df_class1.shape[0]),
                        df_class1]
                    )

print('\nPatient count:')
display(pd.pivot_table(df_ml_conso_balanced, values=['classif'], index='patient',aggfunc='count'))

print('\nPatient average by classification:')
display(pd.pivot_table(df_ml_conso_balanced, values=['classif', 'classif_avg', 'classif_threshold'], index='patient',aggfunc=np.mean))

print('\nProportion of each class')
print(df_ml_conso_balanced['classif_threshold'].value_counts())

Patient count:

         classif
patient
103001       568
111001     17100
113001       900
124001       342

Patient average by classification:

          classif  classif_avg  classif_threshold
patient
103001   0.492958     0.690294                0.5
111001   0.493509     0.552540                0.5
113001   0.493333     0.636521                0.5
124001   0.450292     0.593627                0.5

Proportion of each class
1    9455
0    9455
Name: classif_threshold, dtype: int64

# V - Export

In [7]:
df_ml_conso_balanced = df_ml_conso_balanced.drop(['patient', 'classif', 'classif_avg'], axis=1)
df_ml_conso_balanced.rename(columns={df_ml_conso_balanced.columns[-1]: "classification"}, inplace=True)
display(df_ml_conso_balanced.head())

,timestamp_start,timestamp_end,qSQI_score,cSQI_score,sSQI_score,kSQI_score,pSQI_score,basSQI_score,classification
741,58623175,58626174,0.50,0.63,3.57,17.52,0.49,0.93,0
640,58320141,58323140,0.80,0.88,4.19,20.28,0.50,0.98,0
431,57693034,57696034,0.86,0.54,4.27,21.04,0.53,0.99,0
512,57936084,57939084,1.00,0.71,3.97,17.20,0.52,0.93,0
647,58341143,58344142,0.75,0.52,4.27,21.31,0.52,0.98,0

In [8]:
df_ml_conso_balanced.to_csv('../../datasets/3_ml_patients_consolidation/df_ml_conso_balanced_norm_3s.csv', index=False)