In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# I - Consolidations of datasets

In [2]:
patients = [103001, 111001, 113001, 124001]

df_ml_conso = pd.read_csv('../../datasets/2_dataset_creation_4s/df_ml_{}_norm.csv'.format(patients[0]))
df_ml_conso['patient'] = patients[0]

for patient in patients[1:]:
    df_temp = pd.read_csv('../../datasets/2_dataset_creation_4s/df_ml_{}_norm.csv'.format(patient))
    df_temp['patient'] = patient
    df_ml_conso = pd.concat([df_ml_conso,df_temp], axis=0)

display(df_ml_conso.head())

print('\nPatient count by classification:')
display(pd.pivot_table(df_ml_conso, values=['classif'], index='patient',aggfunc='count'))

print('\nPatient average by classification:')
display(pd.pivot_table(df_ml_conso, values=['classif', 'classif_avg'], index='patient',aggfunc=np.mean))

,timestamp_start,timestamp_end,qSQI_score,cSQI_score,sSQI_score,kSQI_score,pSQI_score,basSQI_score,classif,classif_avg,patient
0,28800001,28804000,1.00,0.68,3.22,12.36,0.53,0.96,1,1.0,103001
1,28804001,28808000,1.00,0.59,3.53,15.39,0.51,0.92,1,1.0,103001
2,28808001,28812000,0.86,0.80,3.13,11.75,0.50,0.93,1,1.0,103001
3,28812001,28816000,1.00,0.65,3.43,13.83,0.50,0.95,1,1.0,103001
4,28816001,28820000,0.67,0.54,3.23,13.00,0.51,0.95,1,1.0,103001

Patient count by classification:

         classif
patient
103001       600
111001     22661
113001       900
124001      1200

Patient average by classification:

          classif  classif_avg
patient
103001   0.555000     0.724195
111001   0.348749     0.419415
113001   0.525556     0.660980
124001   0.115000     0.286792

# II - Appying threshold of quality

In [3]:
# Setting a threshold : proportion of optimal by observation
classif_threshold = 0.95

df_ml_conso['classif_threshold'] = df_ml_conso['classif_avg'].apply(lambda x: 1 if x >= classif_threshold else 0)

print('\nPatient count:')
display(pd.pivot_table(df_ml_conso, values=['classif'], index='patient',aggfunc='count'))

print('\nPatient average by classification:')
display(pd.pivot_table(df_ml_conso, values=['classif', 'classif_avg', 'classif_threshold'], index='patient',aggfunc=np.mean))

Patient count:

         classif
patient
103001       600
111001     22661
113001       900
124001      1200

Patient average by classification:

          classif  classif_avg  classif_threshold
patient
103001   0.555000     0.724195           0.561667
111001   0.348749     0.419415           0.353162
113001   0.525556     0.660980           0.534444
124001   0.115000     0.286792           0.127500

# III - Creation of a validation dataset

In [4]:
df_ml_conso_for_model, df_ml_conso_validation = train_test_split(df_ml_conso, test_size=0.2, random_state=42)

In [5]:
df_ml_conso_validation = df_ml_conso_for_model.drop(['patient', 'classif', 'classif_avg'], axis=1)
df_ml_conso_validation.rename(columns={df_ml_conso_validation.columns[-1]: "classification"}, inplace=True)

for element in  [df_ml_conso, df_ml_conso_for_model, df_ml_conso_validation]:
    display(element.head())
    print('Shape : {}'.format(element.shape))

df_ml_conso_validation.to_csv('../../datasets/3_ml_patients_consolidation/df_ml_conso_validation_norm_4s.csv', index=False)

,timestamp_start,timestamp_end,qSQI_score,cSQI_score,sSQI_score,kSQI_score,pSQI_score,basSQI_score,classif,classif_avg,patient,classif_threshold
0,28800001,28804000,1.00,0.68,3.22,12.36,0.53,0.96,1,1.0,103001,1
1,28804001,28808000,1.00,0.59,3.53,15.39,0.51,0.92,1,1.0,103001,1
2,28808001,28812000,0.86,0.80,3.13,11.75,0.50,0.93,1,1.0,103001,1
3,28812001,28816000,1.00,0.65,3.43,13.83,0.50,0.95,1,1.0,103001,1
4,28816001,28820000,0.67,0.54,3.23,13.00,0.51,0.95,1,1.0,103001,1

Shape : (25361, 12)

,timestamp_start,timestamp_end,qSQI_score,cSQI_score,sSQI_score,kSQI_score,pSQI_score,basSQI_score,classif,classif_avg,patient,classif_threshold
17340,69362103,69366102,0.80,0.96,5.16,34.27,0.50,0.92,1,1.0,111001,1
6849,27396541,27400540,0.75,0.81,-1.39,0.43,0.52,0.44,0,0.0,111001,0
1647,6588071,6592070,0.53,0.56,3.94,18.33,0.43,0.96,0,0.0,111001,0
14508,58034004,58038003,0.33,0.55,0.78,5.42,0.49,0.77,1,1.0,111001,1
7121,28484625,28488624,0.22,0.89,-0.77,0.30,0.51,0.44,0,0.0,111001,0

Shape : (20288, 12)

,timestamp_start,timestamp_end,qSQI_score,cSQI_score,sSQI_score,kSQI_score,pSQI_score,basSQI_score,classification
17340,69362103,69366102,0.80,0.96,5.16,34.27,0.50,0.92,1
6849,27396541,27400540,0.75,0.81,-1.39,0.43,0.52,0.44,0
1647,6588071,6592070,0.53,0.56,3.94,18.33,0.43,0.96,0
14508,58034004,58038003,0.33,0.55,0.78,5.42,0.49,0.77,1
7121,28484625,28488624,0.22,0.89,-0.77,0.30,0.51,0.44,0

Shape : (20288, 9)

# IV - Equalisation of repartition by patient

In [6]:
df_ml_conso_balanced = pd.DataFrame()

for patient in patients:
    df_class1 = df_ml_conso_for_model[(df_ml_conso_for_model['patient'] == patient) & (df_ml_conso_for_model['classif_threshold'] ==1)]
    df_class0 = df_ml_conso_for_model[(df_ml_conso_for_model['patient'] == patient) & (df_ml_conso_for_model['classif_threshold'] ==0)]

    if df_class1.shape[0] >= df_class0.shape[0]:
        df_ml_conso_balanced = pd.concat([df_ml_conso_balanced,
                              df_class0,
                              df_class1.sample(df_class0.shape[0])]
                            )
    else:
        df_ml_conso_balanced = pd.concat([df_ml_conso_balanced,
                        df_class0.sample(df_class1.shape[0]),
                        df_class1]
                    )

print('\nPatient count:')
display(pd.pivot_table(df_ml_conso_balanced, values=['classif'], index='patient',aggfunc='count'))

print('\nPatient average by classification:')
display(pd.pivot_table(df_ml_conso_balanced, values=['classif', 'classif_avg', 'classif_threshold'], index='patient',aggfunc=np.mean))

print('\nProportion of each class')
print(df_ml_conso_balanced['classif_threshold'].value_counts())

Patient count:

         classif
patient
103001       418
111001     12864
113001       676
124001       238

Patient average by classification:

          classif  classif_avg  classif_threshold
patient
103001   0.495215     0.681547                0.5
111001   0.493392     0.551143                0.5
113001   0.494083     0.632800                0.5
124001   0.453782     0.599956                0.5

Proportion of each class
1    7098
0    7098
Name: classif_threshold, dtype: int64

# V - Export

In [7]:
df_ml_conso_balanced = df_ml_conso_balanced.drop(['patient', 'classif', 'classif_avg'], axis=1)
df_ml_conso_balanced.rename(columns={df_ml_conso_balanced.columns[-1]: "classification"}, inplace=True)
display(df_ml_conso_balanced.head())

,timestamp_start,timestamp_end,qSQI_score,cSQI_score,sSQI_score,kSQI_score,pSQI_score,basSQI_score,classification
360,57840063,57844062,0.80,0.55,4.08,19.63,0.50,0.94,0
584,58736181,58740180,0.29,0.70,2.65,9.16,0.49,0.92,0
483,58332142,58336141,0.89,0.54,4.13,20.01,0.54,0.98,0
335,57740044,57744043,0.89,0.55,4.28,21.11,0.54,0.98,0
300,57600006,57604007,0.73,0.55,3.65,15.83,0.52,0.96,0

In [8]:
df_ml_conso_balanced.to_csv('../../datasets/3_ml_patients_consolidation/df_ml_conso_balanced_norm_4s.csv', index=False)