In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# I - Consolidations of datasets

In [2]:
patients = [103001, 111001, 113001, 124001]

df_ml_conso = pd.read_csv('../../datasets/2_dataset_creation/df_ml_{}_norm.csv'.format(patients[0]))
df_ml_conso['patient'] = patients[0]

for patient in patients[1:]:
    df_temp = pd.read_csv('../../datasets/2_dataset_creation/df_ml_{}_norm.csv'.format(patient))
    df_temp['patient'] = patient
    df_ml_conso = pd.concat([df_ml_conso,df_temp], axis=0)

display(df_ml_conso.head())

print('\nPatient count by classification:')
display(pd.pivot_table(df_ml_conso, values=['classif'], index='patient',aggfunc='count'))

print('\nPatient average by classification:')
display(pd.pivot_table(df_ml_conso, values=['classif', 'classif_avg'], index='patient',aggfunc=np.mean))

,timestamp_start,timestamp_end,qSQI_score,cSQI_score,sSQI_score,kSQI_score,pSQI_score,basSQI_score,classif,classif_avg,patient
0,28800001,28809000,0.88,0.63,3.34,13.47,0.52,0.93,1,1.0,103001
1,28809001,28818000,0.93,0.66,3.30,13.21,0.52,0.93,1,1.0,103001
2,28818001,28827000,0.93,0.70,3.30,13.18,0.53,0.94,1,1.0,103001
3,28827001,28836000,1.00,0.54,3.18,12.14,0.52,0.92,1,1.0,103001
4,28836001,28845000,1.00,0.57,3.24,12.76,0.51,0.92,1,1.0,103001

Patient count by classification:

         classif
patient
103001       267
111001     10071
113001       400
124001       533

Patient average by classification:

          classif  classif_avg
patient
103001   0.561798     0.724159
111001   0.348128     0.419475
113001   0.522500     0.661358
124001   0.110694     0.286481

# II - Appying threshold of quality

In [3]:
# Setting a threshold : proportion of optimal by observation
classif_threshold = 0.95

df_ml_conso['classif_threshold'] = df_ml_conso['classif_avg'].apply(lambda x: 1 if x >= classif_threshold else 0)

print('\nPatient count:')
display(pd.pivot_table(df_ml_conso, values=['classif'], index='patient',aggfunc='count'))

print('\nPatient average by classification:')
display(pd.pivot_table(df_ml_conso, values=['classif', 'classif_avg', 'classif_threshold'], index='patient',aggfunc=np.mean))

Patient count:

         classif
patient
103001       267
111001     10071
113001       400
124001       533

Patient average by classification:

          classif  classif_avg  classif_threshold
patient
103001   0.561798     0.724159           0.565543
111001   0.348128     0.419475           0.353490
113001   0.522500     0.661358           0.535000
124001   0.110694     0.286481           0.129456

# III - Creation of a validation dataset

In [4]:
df_ml_conso_for_model, df_ml_conso_validation = train_test_split(df_ml_conso, test_size=0.2, random_state=42)

In [5]:
df_ml_conso_validation = df_ml_conso_for_model.drop(['patient', 'classif', 'classif_avg'], axis=1)
df_ml_conso_validation.rename(columns={df_ml_conso_validation.columns[-1]: "classification"}, inplace=True)

for element in  [df_ml_conso, df_ml_conso_for_model, df_ml_conso_validation]:
    display(element.head())
    print('Shape : {}'.format(element.shape))

df_ml_conso_validation.to_csv('../../datasets/3_ml_patients_consolidation/df_ml_conso_validation_norm.csv', index=False)

,timestamp_start,timestamp_end,qSQI_score,cSQI_score,sSQI_score,kSQI_score,pSQI_score,basSQI_score,classif,classif_avg,patient,classif_threshold
0,28800001,28809000,0.88,0.63,3.34,13.47,0.52,0.93,1,1.0,103001,1
1,28809001,28818000,0.93,0.66,3.30,13.21,0.52,0.93,1,1.0,103001,1
2,28818001,28827000,0.93,0.70,3.30,13.18,0.53,0.94,1,1.0,103001,1
3,28827001,28836000,1.00,0.54,3.18,12.14,0.52,0.92,1,1.0,103001,1
4,28836001,28845000,1.00,0.57,3.24,12.76,0.51,0.92,1,1.0,103001,1

Shape : (11271, 12)

,timestamp_start,timestamp_end,qSQI_score,cSQI_score,sSQI_score,kSQI_score,pSQI_score,basSQI_score,classif,classif_avg,patient,classif_threshold
8211,73901129,73910128,0.67,0.54,5.15,35.58,0.48,0.93,1,1.0,111001,1
6080,54721972,54730971,0.92,0.62,3.01,15.50,0.53,0.85,1,1.0,111001,1
7109,63983046,63992045,0.91,0.66,3.89,22.35,0.57,0.87,1,1.0,111001,1
467,65703457,65712457,0.55,0.57,0.09,3.30,0.47,0.91,0,0.0,124001,0
8636,77726274,77735273,0.76,0.59,0.54,-0.44,0.51,0.72,0,0.0,111001,0

Shape : (9016, 12)

,timestamp_start,timestamp_end,qSQI_score,cSQI_score,sSQI_score,kSQI_score,pSQI_score,basSQI_score,classification
8211,73901129,73910128,0.67,0.54,5.15,35.58,0.48,0.93,1
6080,54721972,54730971,0.92,0.62,3.01,15.50,0.53,0.85,1
7109,63983046,63992045,0.91,0.66,3.89,22.35,0.57,0.87,1
467,65703457,65712457,0.55,0.57,0.09,3.30,0.47,0.91,0
8636,77726274,77735273,0.76,0.59,0.54,-0.44,0.51,0.72,0

Shape : (9016, 9)

# IV - Equalisation of repartition by patient

In [6]:
df_ml_conso_balanced = pd.DataFrame()

for patient in patients:
    df_class1 = df_ml_conso_for_model[(df_ml_conso_for_model['patient'] == patient) & (df_ml_conso_for_model['classif_threshold'] ==1)]
    df_class0 = df_ml_conso_for_model[(df_ml_conso_for_model['patient'] == patient) & (df_ml_conso_for_model['classif_threshold'] ==0)]

    if df_class1.shape[0] >= df_class0.shape[0]:
        df_ml_conso_balanced = pd.concat([df_ml_conso_balanced,
                              df_class0,
                              df_class1.sample(df_class0.shape[0])]
                            )
    else:
        df_ml_conso_balanced = pd.concat([df_ml_conso_balanced,
                        df_class0.sample(df_class1.shape[0]),
                        df_class1]
                    )

print('\nPatient count:')
display(pd.pivot_table(df_ml_conso_balanced, values=['classif'], index='patient',aggfunc='count'))

print('\nPatient average by classification:')
display(pd.pivot_table(df_ml_conso_balanced, values=['classif', 'classif_avg', 'classif_threshold'], index='patient',aggfunc=np.mean))

print('\nProportion of each class')
print(df_ml_conso_balanced['classif_threshold'].value_counts())

Patient count:

         classif
patient
103001       192
111001      5710
113001       308
124001       114

Patient average by classification:

          classif  classif_avg  classif_threshold
patient
103001   0.494792     0.696354                0.5
111001   0.491243     0.552439                0.5
113001   0.490260     0.640614                0.5
124001   0.421053     0.584996                0.5

Proportion of each class
1    3162
0    3162
Name: classif_threshold, dtype: int64

# V - Export

In [7]:
df_ml_conso_balanced = df_ml_conso_balanced.drop(['patient', 'classif', 'classif_avg'], axis=1)
df_ml_conso_balanced.rename(columns={df_ml_conso_balanced.columns[-1]: "classification"}, inplace=True)
display(df_ml_conso_balanced.head())

,timestamp_start,timestamp_end,qSQI_score,cSQI_score,sSQI_score,kSQI_score,pSQI_score,basSQI_score,classification
252,58668179,58677178,0.64,0.57,2.71,9.90,0.52,0.95,0
227,58443149,58452148,0.72,0.62,3.55,15.64,0.51,0.96,0
157,57813056,57822061,0.95,0.57,2.59,11.31,0.51,0.88,0
20,28980002,28989002,0.85,0.59,2.97,10.79,0.51,0.94,0
221,58389147,58398147,0.92,0.64,3.93,17.05,0.53,0.92,0

In [8]:
df_ml_conso_balanced.to_csv('../../datasets/3_ml_patients_consolidation/df_ml_conso_balanced_norm.csv', index=False)